# Default ignored files
/../../drugi-projekat-paralelniAlg-tim_markostojicic_vidanstojic /.idea/shelf/
/../../drugi-projekat-paralelniAlg-tim_markostojicic_vidanstojic /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../drugi-projekat-paralelniAlg-tim_markostojicic_vidanstojic /.idea/httpRequests/
# Datasource local storage ignored files
/../../drugi-projekat-paralelniAlg-tim_markostojicic_vidanstojic /.idea/dataSources/
/../../drugi-projekat-paralelniAlg-tim_markostojicic_vidanstojic /.idea/dataSources.local.xml
